*{
--color1:#000b4f;
--color2:#20368f;
--color3:#829cd0;
--color4:#FFFFFF;
--color5:#6d6d6d;
--color6:#323232;
}

body{
    background-color: var(--color5);
}

.nav{
    background-color: var(--color6);
    border: 0%;
    width:inherit;
    position: relative;
    
}

.BuyNowButton{
    margin: 1rem;
}
